{% extends 'base.html' %}

{% block body %}

<div class="max-w-full mx-0 py-6 px-0 sm:px-6 lg:px-8 bg-gray-800">
  <h1 class="text-6xl font-bold text-white font-cursive text-center"
    style="margin-top: 50px; margin-bottom: 5px; font-family: 'Nova';">Meet Our Devs!!!</h1>
  <p class="text-xl text-gray-400 italic font-cursive text-center"
    style="margin-top: 5px; margin-bottom: 50px; font-family: 'Nova';">Kedar Chikane</p>
  <div class="bg-gray-200 py-8 my-10 rounded-lg shadow-md">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="p-6 text-gray-800">
        <p>
          Hello, I'm Kedar, and I'm delighted to be a part of the team behind this delectable recipe blog. As a
          developer, my passion for technology and a love for culinary arts converge here, where I ensure the smooth
          functioning of this platform to bring you the best recipes, tips, and culinary delights.
        </p>
        <br>
        <p>
          With a background in software development and a penchant for solving complex problems, I'm dedicated to
          crafting robust and user-friendly web experiences. My skills encompass a wide array of technologies, from
          front-end development, where I create the visual and interactive elements that make this website a pleasure to
          use, to the back-end, where I ensure that everything runs seamlessly behind the scenes.
        </p>
        <br>
      </div>
    </div>
  </div>


  <div class="flex items-center justify-center space-x-4" style="margin-bottom: 50px; margin-top: 50px;">
    <a href="mailto:kedarchikane21@gmail.com" target="_blank" class="text-gray-500 hover:text-gray-700">
      <img src="/static/images/gmail_logo.png" alt="Gmail Logo" class="h-12">
    </a>

  </div>

</div>

{% endblock %}