{% extends 'base.html' %}

{% block body %}

<div class="max-w-full mx-0 py-6 px-0 sm:px-6 lg:px-8 bg-gray-800">
    <h1 class="text-6xl font-bold text-white font-cursive text-center"
        style="margin-top: 50px; margin-bottom: 5px; font-family: 'Nova';">Meet Our Devs!!!</h1>
    <p class="text-xl text-gray-400 italic font-cursive text-center"
        style="margin-top: 5px; margin-bottom: 50px; font-family: 'Nova';">Mihika Saraf</p>
    <div class="bg-gray-200 py-8 my-10 rounded-lg shadow-md">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
            <div class="p-6 text-gray-800">
                <p>
                    Greetings, I'm Mihika, and I'm thrilled to be a part of the team that powers this delectable recipe
                    blog. As a passionate developer, my goal is to seamlessly blend my technical skills with my love for
                    culinary arts, creating a platform that offers a delightful and user-friendly experience.
                </p>
                <br>
                <p>
                    With a background in web development, I specialize in ensuring the technical backbone of this
                    platform remains robust and efficient. My focus is on making your journey through our recipes, tips,
                    and culinary stories as smooth as possible.
                </p>
                <br>
            </div>
        </div>
    </div>


    <div class="flex items-center justify-center space-x-4" style="margin-bottom: 50px; margin-top: 50px;">
        <a href="https://www.linkedin.com/in/mihika-saraf-8b6557231" target="_blank"
            class="text-gray-500 hover:text-gray-700">
            <img src="/static/images/linked_in.png" alt="LinkendIn Logo" class="h-12">
        </a>

        <a href="https://www.instagram.com/mihikasaraf12/" target="_blank"
            class="text-gray-500 hover:text-gray-700">
            <img src="/static/images/insta_logo.png" alt="Instagram Logo" class="h-12">
        </a>

        <a href="mailto:mihikaps003@gmail.com" target="_blank" class="text-gray-500 hover:text-gray-700">
            <img src="/static/images/gmail_logo.png" alt="Gmail Logo" class="h-12">
        </a>

    </div>

</div>

{% endblock %}