{% extends 'base.html' %}

{% block body %}

<div class="max-w-full mx-0 py-6 px-0 sm:px-6 lg:px-8 bg-gray-800">
    <h1 class="text-6xl font-bold text-white font-cursive text-center"
        style="margin-top: 50px; margin-bottom: 5px; font-family: 'Nova';">Meet Our Devs!!!</h1>
    <p class="text-xl text-gray-400 italic font-cursive text-center"
        style="margin-top: 5px; margin-bottom: 50px; font-family: 'Nova';">Rutuja Chanakhekar</p>
    <div class="bg-gray-200 py-8 my-10 rounded-lg shadow-md">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
            <div class="p-6 text-gray-800">
                <p>
                    Greetings, I'm Rutuja, and I'm thrilled to be a part of the team that makes this recipe blog a
                    reality. As a developer, I'm passionate about blending my technical skills with my appreciation for
                    the culinary arts to bring you a seamless and delightful browsing experience.
                </p>
                <br>
                <p>
                    With a background in web development, I focus on creating and maintaining the technical backbone of
                    this platform. From ensuring fast load times to a user-friendly interface, my goal is to make your
                    time here enjoyable and productive.
                </p>
                <br>
            </div>
        </div>
    </div>


    <div class="flex items-center justify-center space-x-4" style="margin-bottom: 50px; margin-top: 50px;">
        <a href="https://www.linkedin.com/in/rutuja-chanakhekar" target="_blank" class="text-gray-500 hover:text-gray-700">
            <img src="/static/images/linked_in.png" alt="LinkendIn Logo" class="h-12">
        </a>

        <a href="https://instagram.com/rutuja__7?igshid=N2Y2cjM5cTJwNXNr" target="_blank" class="text-gray-500 hover:text-gray-700">
            <img src="/static/images/insta_logo.png" alt="Instagram Logo" class="h-12">
        </a>

        <a href="mailto:rutujachanakhekar7@gmail.com" target="_blank" class="text-gray-500 hover:text-gray-700">
            <img src="/static/images/gmail_logo.png" alt="Gmail Logo" class="h-12">
        </a>

    </div>

</div>

{% endblock %}